h1 {
    color: goldenrod;
    font-family: Cambria;
    font-size: xxx-large;
    text-align: center;
}
header{
    background-color: black;
    text-align: center;
    margin-bottom: 1em;
}
/*footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    color: goldenrod;
    justify-content: center;
    padding: 1vh;
    font-family: Castellar;
    font-size: medium;

    background-image: linear-gradient(to bottom, black, white);
    text-align: center;
}*/

h4{
    text-align: center;
    font-size: medium;

}

#ubi{
    text-align: center;

}


.parrafoPrincipal{
    font-family: Arial;
    text-align: center;
}

#botonPato{
    color: coral;
    text-align: center;
    border-radius: 43px;
    cursor: pointer;
    padding: 15px;
}

#BotA{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

#Cont{
    color: black;
    text-align: center;
    font-family: Cambria;
}

.texto{
    color: black;
    font-family: arial;
}

#map{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;

}

.centrao{
    text-align: center;
}

li{
    text-align: center;
list-style-type: none;
}

#img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    width: 10vh;
}

.imagen{
    height: 16em;
    width: 30em;
}

.prod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.ajust{
    height: 20em;
    width: 35em;
}
#ModOscuro{
    color: black;
    text-align: center;
}

#BotB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#ModOscuro{
    background: white;
    color: black;
    border-radius: 43px;
    cursor: pointer;
}
/*EL MODO TERRY*/

.modoOscuro{
    transition: 1s;
}

.modoOscuro header{
    background-color: rgba(45,5,9,0.95);
    text-align: center;
    margin-bottom: 1em;
}
.modoOscuro #ModOscuro{
    background: black;
    color: white;
}

.modoOscuro #botonPato{
    background: black;
    color: white;
}

body.modoOscuro{
    background-color: black;
}

.modoOscuro h4{
    color: white;
}

.modoOscuro h2{
    color: white;
}

.modoOscuro .parrafoPrincipal{
    color: white;
}

.modoOscuro #Cont{
    color: white;
}



/*MODO OSCURO PARA MAINPAGE*/
